<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Statics/media/logop.png" type="image/icon">
    <title>Inicio de sessión</title>
</head>
<body bgcolor="#03272e">
	<font color="#FFFFFF">
	<center><img src="../Statics/media/logop.png" width="300" height="200"></center>
 	 <h1><P ALIGN="center">Iniciar Sesión</p></h1>
   	<form align=center>
	<fieldset>
	<label>Ingresa número de cuenta o RFC</label>
	<br>
	<input type="text" placeholder="321234567" required><br>
	<label>Contraseña</label><br>
	<input type="password" required><br>
	<button type="submit">Acceder</button>
	<button type="rese">Borrar</button><br>
</fieldset>
</form>
<form align="center">
	<h5><center>No tienes una cuenta?</center></h5>
	<button type="submit">Crear cuenta</button>
   </form>
</body>
</html>